{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
	<div class="container">
		<h1 class="text-uppercase text-center">Añadir archivo</h1>
		<form  method="POST" action="/upload" enctype="multipart/form-data" >
			<div class="form-group">
				<label for="user">Usuario: </label>
				<input type="text" name="user" required/>
			</div>
			<div class="form-group">
			    <label for="exampleFormControlSelect1">Tipo de Audio:</label>
			    <select class="form-control" id="exampleFormControlSelect1" name="opcion">
			  		<option>ENT</option>
			        <option>FON</option>
			        <option>LEC</option>
			        <option>HESP</option>
			        <option>MAP</option>
			    </select>
			</div>
			<div class="form-group">
				<label for="lugar">Área geográfica:</label>
				<input type="text" class="text-uppercase" name="lugar" required/>
			</div>
			<div class="form-group">
				<label for="file">Archivo:</label>
			</div>
			<div class="form-group">
				<input type="text" name="file" required id="file">
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary">Agregar</button>
			</div>			
		</form>
	</div>
{%endblock%}