{% extends "base.html" %}
{% block script %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
{% endblock %}
{% block title %} {{ title }} 
{% endblock %}
{% block content %}
	<div class="container ">
		<h1 class="text-uppercase text-center">Lista de audios</h1>
	</div>
	<div class="container">
		<table id="table_id" class="display table text-center table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th >Usuario</th>
			<th >Tipo de audio</th>
			<TH >Archivo</TH>
			<th>Origen</th>
			<th colspan="3" >Opciones</th>
        </tr>
    </thead>
    <tbody>
    	{% for i in res %}	
        <tr>
            <td>{{ i.usuario }}</td> 	
			<td>{{ i.tipo_audio }}</td> 
			<td>{{ i.name_arch }}</td>
			<td>{{ i.area_geo }}</td>
			<td><button class="eliminar btn btn-outline-primary" >Eliminar</button> </td> <td> <button class="reproducir btn btn-outline-secondary ">Reproducir</button></td><td><button class="editar btn btn-outline-success">Editar</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
	</div>

	<script type="text/javascript">
		//eSTE MÉTODO SIRVE PARA ELIMINAR LOS DOCUMENTOS DE LA BD tomando como referencia el nombre de archivo
		$(document).ready(function(){
			$('.eliminar').click(function(){
				var dato = $(this).closest('tr').children('td:nth-child(3)').text();
      	   if(confirm('¿Estás seguro que quieres eliminar este archivo: '+dato)){
      	   	window.location.href = "/borrar/"+dato;
      	   } else{
      	   	window.location.href = "/lista";
      	   }
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.reproducir').click(function(){
				var dato = $(this).closest('tr').children('td:nth-child(3)').text();
      	   if(confirm('¿Estás seguro que quieres reproducir este archivo: '+dato)){
      	   	window.location.href = "/rep/"+dato;
      	   } else{
      	   	window.location.href = "/lista";
      	   }
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.editar').click(function(){
				var us = $(this).closest('tr').children('td:nth-child(1)').text();
				var tip = $(this).closest('tr').children('td:nth-child(2)').text();
				var arc = $(this).closest('tr').children('td:nth-child(3)').text();
      	   if(confirm('¿Estás seguro que quieres editar este archivo: '+arc)){
      	   	window.location.href = "/editar/"+us+"/"+tip+"/"+arc;
      	   	
      	   } else{
      	   	window.location.href = "/lista";
      	   }
			});
		});
	</script>
{% endblock %}